.logo {
  height: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  h2 {
    font-size: 24px;
    font-weight: 800;
    color: white;
    text-shadow:
      -0.25px -0.25px 0 black,
      0.25px -0.25px 0 black,
      -0.25px 0.25px 0 black,
      0.25px 0.25px 0 black;
  }
}
