.networkPage {
  width: 100vw;
  z-index: 99;
  position: relative;
  height: 100%;
  padding-bottom: 100px;
  &_grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    z-index: 99;
  }
  &_noResultsText {
    font-size: 28px;
    margin-bottom: 20px;
  }
}
