@import "../../styles/default/mixins";
.network {
  width: 100vw;
  z-index: 99;
  position: relative;
  height: 100%;
  padding-bottom: 100px;
  &_readMore {
    cursor: pointer;
    color: var(--blue);
  }
  &_loaderWrapper {
    width: 200px;
    height: 200px;
  }
  &--top {
    display: flex;
    margin-bottom: 20px;
    background: white;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid var(--grey);
    padding: 15px;
    border-radius: 15px;
    gap: 20px;
    img {
      background-color: var(--grey);
      border-radius: 10px;
      aspect-ratio: 1;
    }
  }
  &--bottom {
    display: flex;
    align-items: flex-start;
    width: 100%;
    gap: 20px;
  }
  &_grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
}
@include sm {
  .network {
    &--bottom {
      flex-direction: column;
    }
    &--top {
      img {
        display: none;
      }
    }
  }
}
