@import "../../styles/default/mixins";
.header {
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.328);
  height: 70px;
  z-index: 99;
  position: relative;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  &_inner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@include sm {
  .header {
    padding: 0;
    &_inner {
      width: 90%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
